.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .navbar__link {
        color: black;
        text-decoration: none;
        margin-right: 20px;

        &.active {
            font-weight: bold;
            color: red;
        }
    }

    .navbar__logo {
        margin: 0;
    }
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.navbar__left{
    display: flex;
    gap: 60px;
}

.navbar__right{
    display: flex;
    gap: 50px;
    align-items: center;
}
input{
    padding: 5px 10px;
    background: #EDF2F4;
    border: none;
    border-radius: 10px;
}